body{
    font-family: "Arial";
	background: yellowgreen;
}


.container{
    margin: auto;
    width: 60%;
    border: 1px dotted deeppink;
    border-right: 0px;
    border-left: 0px;
    padding: 10px;
}

ul.ponys {
	min-width: 300px;
	list-style: none;
	padding-top: 20px;
	font-size: 0;
}

ul.ponys li {
	display: inline-block;
	width: calc(100% / 3);
}

ul.ponys li figure img{
	width: 100%;
} 

ul.ponys li figure figcaption {
    text-align: center;
	font-size: 16px;
} 